@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.best-card{
    height: 25rem;
}

.choose:hover{
background-color: #0d6efd;
}
.popular{
    background-color: #0d6dfd85;
}
.footersize{
    height: 160px;
}
.footer-paragraph{
    font-size: 15px;
}
.toast-position{
    left: 80%;
}
@media only screen and (max-width: 767px){
    .slider{
        margin-top: 40px;

        }
       .res{
            font-size: 12px;
           
        }
        .navtitle{
            font-size: 15px;
        }
        
}